In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('fires.csv' , index_col=0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6454 non-null   int64
 1   ano         6454 non-null   int64
 2   mes         6454 non-null   object
 3   estado      6454 non-null   object
 4   numero      6322 non-null   object
 5   encontro    6454 non-null   object
dtypes: int64(2), object(4)
memory usage: 302.7+ KB

In [6]:
data

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [7]:
data.columns

Index(['ano', 'mes', 'estado', 'numero', 'encontro'], dtype='object')

In [8]:
new_col = {'ano':'Year', 'mes':'Month', 'estado':'State', 'numero':'Number_of_fires', 'encontro':'Date'}

In [11]:
data = data.rename(columns=new_col)

In [12]:
data

      Year     Month      State Number_of_fires      Date
0     1998   Janeiro       Acre         0 Fires  1/1/1998
1     1999   Janeiro       Acre         0 Fires  1/1/1999
2     2000   Janeiro       Acre         0 Fires  1/1/2000
3     2001   Janeiro       Acre         0 Fires  1/1/2001
4     2002   Janeiro       Acre         0 Fires  1/1/2002
...    ...       ...        ...             ...       ...
6449  2012  Dezembro  Tocantins             128  1/1/2012
6450  2013  Dezembro  Tocantins              85  1/1/2013
6451  2014  Dezembro  Tocantins             223  1/1/2014
6452  2015  Dezembro  Tocantins             373  1/1/2015
6453  2016  Dezembro  Tocantins             119  1/1/2016

[6454 rows x 5 columns]

In [ ]:
##REARRANGING COLUMNS

In [13]:
data.columns

Index(['Year', 'Month', 'State', 'Number_of_fires', 'Date'], dtype='object')

In [14]:
data.columns[[4,1,0,2,3]]

Index(['Date', 'Month', 'Year', 'State', 'Number_of_fires'], dtype='object')

In [19]:
data[['Year','State','Month']]

      Year      State     Month
0     1998       Acre   Janeiro
1     1999       Acre   Janeiro
2     2000       Acre   Janeiro
3     2001       Acre   Janeiro
4     2002       Acre   Janeiro
...    ...        ...       ...
6449  2012  Tocantins  Dezembro
6450  2013  Tocantins  Dezembro
6451  2014  Tocantins  Dezembro
6452  2015  Tocantins  Dezembro
6453  2016  Tocantins  Dezembro

[6454 rows x 3 columns]

In [22]:
data = data[data.columns[[4,1,0,2,3]]]

In [23]:
data

          Date     Month  Year      State Number_of_fires
0     1/1/1998   Janeiro  1998       Acre         0 Fires
1     1/1/1999   Janeiro  1999       Acre         0 Fires
2     1/1/2000   Janeiro  2000       Acre         0 Fires
3     1/1/2001   Janeiro  2001       Acre         0 Fires
4     1/1/2002   Janeiro  2002       Acre         0 Fires
...        ...       ...   ...        ...             ...
6449  1/1/2012  Dezembro  2012  Tocantins             128
6450  1/1/2013  Dezembro  2013  Tocantins              85
6451  1/1/2014  Dezembro  2014  Tocantins             223
6452  1/1/2015  Dezembro  2015  Tocantins             373
6453  1/1/2016  Dezembro  2016  Tocantins             119

[6454 rows x 5 columns]

In [24]:
##checking data_types

In [25]:
data.dtypes

Date               object
Month              object
Year                int64
State              object
Number_of_fires    object
dtype: object

In [26]:
###changing data types

In [28]:
data['Date']

0       1/1/1998
1       1/1/1999
2       1/1/2000
3       1/1/2001
4       1/1/2002
          ...
6449    1/1/2012
6450    1/1/2013
6451    1/1/2014
6452    1/1/2015
6453    1/1/2016
Name: Date, Length: 6454, dtype: object

In [31]:
pd.to_datetime(data['Date'])

0      1998-01-01
1      1999-01-01
2      2000-01-01
3      2001-01-01
4      2002-01-01
          ...
6449   2012-01-01
6450   2013-01-01
6451   2014-01-01
6452   2015-01-01
6453   2016-01-01
Name: Date, Length: 6454, dtype: datetime64[ns]

In [32]:
data.dtypes

Date               object
Month              object
Year                int64
State              object
Number_of_fires    object
dtype: object

In [33]:
data['Date'] = pd.to_datetime(data['Date'])

In [34]:
data.dtypes

Date               datetime64[ns]
Month                      object
Year                        int64
State                      object
Number_of_fires            object
dtype: object

In [35]:
data.Date

0      1998-01-01
1      1999-01-01
2      2000-01-01
3      2001-01-01
4      2002-01-01
          ...
6449   2012-01-01
6450   2013-01-01
6451   2014-01-01
6452   2015-01-01
6453   2016-01-01
Name: Date, Length: 6454, dtype: datetime64[ns]

In [37]:
data.Date.dt.year

0       1998
1       1999
2       2000
3       2001
4       2002
        ...
6449    2012
6450    2013
6451    2014
6452    2015
6453    2016
Name: Date, Length: 6454, dtype: int32

In [38]:
data.Date.dt.dayofweek

0       3
1       4
2       5
3       0
4       1
       ..
6449    6
6450    1
6451    2
6452    3
6453    4
Name: Date, Length: 6454, dtype: int32

In [39]:
data['Dayofweek'] = data.Date.dt.dayofweek

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6454 entries, 0 to 6453
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             6454 non-null   datetime64[ns]
 1   Month            6454 non-null   object
 2   Year             6454 non-null   int64
 3   State            6454 non-null   object
 4   Number_of_fires  6322 non-null   object
 5   Dayofweek        6454 non-null   int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(3)
memory usage: 327.7+ KB

In [43]:
data

           Date     Month  Year      State Number_of_fires  Dayofweek
0    1998-01-01   Janeiro  1998       Acre         0 Fires          3
1    1999-01-01   Janeiro  1999       Acre         0 Fires          4
2    2000-01-01   Janeiro  2000       Acre         0 Fires          5
3    2001-01-01   Janeiro  2001       Acre         0 Fires          0
4    2002-01-01   Janeiro  2002       Acre         0 Fires          1
...         ...       ...   ...        ...             ...        ...
6449 2012-01-01  Dezembro  2012  Tocantins             128          6
6450 2013-01-01  Dezembro  2013  Tocantins              85          1
6451 2014-01-01  Dezembro  2014  Tocantins             223          2
6452 2015-01-01  Dezembro  2015  Tocantins             373          3
6453 2016-01-01  Dezembro  2016  Tocantins             119          4

[6454 rows x 6 columns]

In [44]:
data.Dayofweek.unique()

array([3, 4, 5, 0, 1, 2, 6], dtype=int32)

In [45]:
day = {3:'Thurs', 4:'Fri', 5:'Sat', 0:'Mon', 1:'Tues', 2:'Wed', 6:'Sun'}

In [48]:
data.Dayofweek = data.Dayofweek.map(day)

In [49]:
data

           Date     Month  Year      State Number_of_fires Dayofweek
0    1998-01-01   Janeiro  1998       Acre         0 Fires     Thurs
1    1999-01-01   Janeiro  1999       Acre         0 Fires       Fri
2    2000-01-01   Janeiro  2000       Acre         0 Fires       Sat
3    2001-01-01   Janeiro  2001       Acre         0 Fires       Mon
4    2002-01-01   Janeiro  2002       Acre         0 Fires      Tues
...         ...       ...   ...        ...             ...       ...
6449 2012-01-01  Dezembro  2012  Tocantins             128       Sun
6450 2013-01-01  Dezembro  2013  Tocantins              85      Tues
6451 2014-01-01  Dezembro  2014  Tocantins             223       Wed
6452 2015-01-01  Dezembro  2015  Tocantins             373     Thurs
6453 2016-01-01  Dezembro  2016  Tocantins             119       Fri

[6454 rows x 6 columns]